input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : none; } 
input[type="submit"]:focus, input[type="button"]:focus { outline : none; }

.clear { clear: both; }

#formcontainer {
    background: url('../images/container.png') no-repeat;
    width: 754px;
    height: 466px;
    margin: 0px auto;
    padding: 50px 0;
    
   
}
    #formcontainer #first_step, #second_step, #third_step, #fourth_step { display: none; }
    #formcontainer #first_step { display: block; }

    
    #formcontainer h1, #formcontainer h2 {
        font-size: Cantarell, Verdana, sans-serif;
        text-align: center;
        font-size: 24px;
        text-shadow: 1px 1px 2px #222;
    }
        #formcontainer h1 span { color: #a90329; }
        
    #formcontainer h2 {
        color: #888;
        font-size: 20px;
        text-align: left;
        text-shadow: none;
    }
    
    #formcontainer table {
        margin: 20px 40px;
        font-size: 14px;
        font-weight: bold;
    }
        #formcontainer table td {
            padding: 5px 10px;
        }
            #formcontainer table td:nth-child(2) {
                color: #a90329;
            }   
        
    #formcontainer input, #formcontainer select {
        background: url('../images/input.png') no-repeat;
        color: #888;
        border: 1px solid #ccc;
        font-family: Cantarell, Verdana, sans-serif;
        font-weight: bold;
        font-size: 15px;
        width: 300px;
        height: 35px;
        padding: 0 25px;
        margin: 0px 0;
        float: left;
        
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }
        #formcontainer input.submit {
            background: url('../images/button.png') no-repeat;
            border: none;
            cursor: pointer;
            width: 85px;
            height: 38px;
            position: relative;
            bottom: 2px;
            left: 655px;
        }
        #formcontainer input.submit:focus { border: none; }
        
        #formcontainer input.send{ background: url('../images/send.png') no-repeat; }
            
        #formcontainer input.error { border: 1px solid red; }
        #formcontainer input.valid { border: 1px solid #1FFF00; }
        
        #formcontainer input:focus, #formcontainer select:focus {
            border: 1px solid #a90329;
            color: #a90329;
        }

    #formcontainer select { padding: 5px 0 5px 25px; }
        #formcontainer option { padding: 0 15px; }

    #formcontainer label {
        color: #666;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        float: left;
    }
    

#progress_bar {
    background: url('../images/progress_bar.png') no-repeat;
    width: 339px;
    height: 24px;
    margin-top: 82px;
    margin-left: 200px;
}

#progress {
    background: url('../images/progress.png') repeat-x;
    width: 0px;
    height: 23px;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
#progress_text {
    position: relative;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #222;
    width: 339px;
    height: 24px;
    top: -23px;
    left: 0;
}




